---
const base = import.meta.env.BASE_URL;
---

<footer class="footer">
  <div class="container footer__inner">
    <a href={base + "/"} class="footer__logo">
      <img src={base + "/salesforce-logo.svg"} alt="Salesforce Logo" class="footer__logo-icon" />
      <span>Agentforce Vibes</span>
    </a>
    
    <p class="footer__copyright">
      © Copyright 2025 Salesforce, Inc. All rights reserved. Various trademarks held by their respective owners.<br />
      Salesforce, Inc. Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105, United States
    </p>
  </div>
</footer>
